<h1>Create new tutorial</h1>
<form method="post" action="/create-content/" id="content_form">
  <p>
    <input class="search" type="text" name="name" value="" /> Enter title
  </p>
  <select name="category_id">
    {% for item  in categories_list %}
        <option value="{{item.id}}">
        {{item.name}}
        </option>
    {% endfor %}
  </select> Choose category
  <br/><br/>
  <select name="type">
    {% for item  in content_types %}
        <option value="{{item}}">
        {{item}}
        </option>
    {% endfor %}
  </select> Choose article type
  <br/><br/>
  
  <select name="author">
    {% for user  in users %}
      {% if user.is_author %}
        <option value="{{user.id}}">
        {{user.name}}
        </option>
      {% endif %}
    {% endfor %}
  </select> Choose author

  <br/><br/><input type="submit" value="Create"/>
</form>
