<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% include "head.html" %}
    <style>
    {% include "/style/style.css" %}
    </style>
    {% endblock %}
</head>

<body>
    <div id="main">
        {% block header %}{% include "header.html" %}{% endblock %} 
          <div id="site_content">
            {% block sidebar %}
            {% include "sidebar.html" %}
            {% endblock %} 

            <div id="content">
            {% block content %}
                <h1> Main page content</h1>
            {% endblock %}
            </div>
      
        </div>
    
        {% block footer %}{% include "footer.html" %}{% endblock %}

  </div>
</body>

</html>