{% extends "base.html" %}
{% block content %}
{%if content %} 
  <h1>{{content.name}}</h1>
  <p>{{ content.text }}</p>
  <br/><br/><hr>

{% include "forms/edit_content.html" %}

{% else %}
  {% if category %}
    <h1>Please select tutorial for: {{category.name}}</h1>
    <hr>
    <ul id="themes_list">
        {% for item in category.articles %}
          <li><a href="/content/?name={{item.name}}">{{ item.name }} (format: {{ item.type }})</a></li>
        {% endfor %}
      </ul>
  {% endif %}
  {% include "forms/new_content.html" %}
{% endif %}
{% endblock %}








