{% set navigation_bar = [
    ('/', '/', 'Index'),
    ('/categories/', 'categories', 'Category'),
    ('/content/', 'content', 'Content'),
    ('/users/', 'users', 'Users'),
    ('/contacts/', 'contacts', 'Contacts'),
] -%}

{% set active_page = active_page | default('index') -%}

<div id="menubar">
<ul id="menu">
{% for href, id, caption in navigation_bar %}
  <li{% if href == active_page %} class="selected"{% endif
  %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
{% endfor %}
</ul>
</div>
